<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Recipes Table</title>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

</head>
<body>
  <img th:src="@{/images/leaf2.png}" alt="vegan logo" width="136" height="136">
  <h1 class="text-primary">Recipes Table</h1>

  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
        <th>Cooking Time</th>
        <th>Ingredients</th>
        <th>Instructions</th>
        <th>Featured</th>
        <th>Publication Date</th>
      </tr>
    </thead>
    <tr th:each="tmpRecipe : ${recipeList}">
      <td th:text="${tmpRecipe.recipeId}"></td>
      <td th:text="${tmpRecipe.recipeName}"></td>
      <td th:text="${tmpRecipe.category}"></td>
      <td th:text="${tmpRecipe.cookingTime}"></td>
      <td th:text="${tmpRecipe.ingredients}"></td>
      <td th:text="${tmpRecipe.instructions}"></td>
<!--      <td th:text="${tmpRecipe.featured}"></td>-->
<!--      <td th:text="${tmpRecipe.featured == 1 ? 'Yes' : 'No'}"></td>-->

      <td>

        <span th:if="${tmpRecipe.featured == 1}" class="badge badge-success">Yes</span>
        <span th:unless="${tmpRecipe.featured == 1}" class="badge badge-danger">No</span>

      </td>

      <td th:text="${tmpRecipe.publicationDate}"></td>
    </tr>

  </table>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>
</html>